@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap");
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #666666;
}

.body {
  margin: 0;
  padding: 0;
}
.body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  line-height: 1.5rem;
}

ul, li {
  line-height: 1.5rem;
}
ul:first-child, li:first-child {
  margin-top: 0.3rem;
}

ul span.arrow-bullet {
  font-weight: bold;
  font-size: 0.8rem;
  color: #2BA191;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: extrabold;
  font-size: 1.56rem;
}
@media (max-width: 39.9375em) {
  h1 {
    font-size: 1rem;
  }
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: #2BA191;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin: 2rem auto 2rem auto;
}

h3 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
h3:first-child {
  margin-top: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 39.9375em) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.row {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
@media (max-width: 39.9375em) {
  .row {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
  }
}

section {
  scroll-margin-top: 51px;
}

section.rg-center {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}
@media (min-width: 40em) {
  section.rg-center .wrapper-column {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }
}
section.rg-center-white {
  background: #FAFAFA;
}
section.rg-center-soft {
  background: #F1F0F1;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-wrapper {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .btn-wrapper {
    margin-top: 2rem;
  }
}

.btn {
  padding: 0.6em 1.3em;
  border-radius: 7px;
  font-weight: 400 !important;
}
.btn:hover {
  font-weight: 400;
}
.btn-regular {
  border: 2px solid #2BA191;
  color: #2BA191 !important;
}
.btn-regular:hover {
  color: #F1F0F1;
  background: #2BA191;
  border: 2px solid #2BA191;
}
.btn-accent {
  border: 2px solid #FF3978;
  background: #FF3978;
  color: #F1F0F1 !important;
}
.btn-accent:hover {
  border: 2px solid #ff5389;
  background: #ff5389;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  color: #666666;
  background-color: #F1F0F1;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.logo-abbr, .logo-full, .brand-descrip {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.header.open {
  display: block;
}
.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(transparent));
  background-image: linear-gradient(#666666, transparent);
  z-index: 10001;
}
.header nav {
  background-color: #FAFAFA;
  color: #2BA191;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 10005;
}
.header nav .nav-wrapper {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1100px) {
  .header nav .nav-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1101px) and (max-width: 1400px) {
  .header nav .nav-wrapper {
    max-width: 1100px;
  }
}
@media (min-width: 1401px) {
  .header nav .nav-wrapper {
    max-width: 1200px;
  }
}
.header nav a {
  font-weight: 500;
}
.header nav a:hover {
  opacity: 100%;
}
.header__logo img {
  width: 6rem;
}
.header__textlogo {
  color: #2BA191;
  text-align: center;
}
.header__textlogo .name {
  font-size: 1.44rem;
}
.header__textlogo .description {
  font-size: 1rem;
  font-weight: 100;
}
@media (max-width: 819px) {
  .header__toggle {
    display: block;
  }
}
@media (min-width: 820px) {
  .header__toggle {
    display: none;
  }
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background: #F1F0F1;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header .sticky {
  font-size: 12px;
  background-color: #FAFAFA;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .sticky .header__logo {
  visibility: visible;
  width: 6rem;
}
.header .sticky .header__logo img {
  width: 100%;
}
.header .sticky .header__textlogo {
  visibility: visible;
  font-size: 1rem;
  color: #2BA191;
}
.header .sticky a {
  opacity: 100%;
}
.header__menu {
  background-color: #F1F0F1;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: absolute;
  border-radius: 5px;
  top: 6.5rem;
  right: 2rem;
  left: 2rem;
  z-index: 10005;
}
.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #2BA191;
  text-align: center;
}
.header__links {
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 819px) {
  .header__links {
    display: none;
  }
}
@media (min-width: 820px) {
  .header__links {
    display: inline;
  }
}
.header__links a {
  font-size: 0.833rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__links .slash {
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  opacity: 0.5;
}

section#masthead {
  background: url("../img/misc/taller-grupal-atv.jpg") !important;
  background-size: cover !important;
  min-height: calc(100vh - 50px);
  margin-top: 46px;
}
section#masthead .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section#masthead .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section#masthead .logo-wrapper {
  padding: 1em;
}
section#masthead h1.logo-abbr {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 6.5em;
  text-transform: none;
  color: #2BA191;
  text-align: center;
}
section#masthead h1.logo-full {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 2.2em;
  text-transform: none;
  color: #2BA191;
  text-align: center;
}
section#masthead .brand-descrip {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 450;
  font-size: 1.6em;
  text-align: center;
}
section#masthead .arrow {
  font-size: 1.6em;
  margin-top: 1em;
  color: #FF3978;
}

body#home section#masthead {
  background-color: #F1F0F1;
  min-height: calc(100vh - 50px);
  margin-top: 46px;
}
body#home section#masthead .logo-wrapper {
  padding: 1em;
}
body#home section#masthead .logo-wrapper img {
  width: 100%;
}
@media (max-width: 39.9375em) {
  body#home section#masthead .logo-wrapper {
    margin-top: 3.5em;
    width: 11rem;
  }
}
@media (min-width: 40em) {
  body#home section#masthead .logo-wrapper {
    margin-top: 8em;
  }
}
@media (min-width: 40em) and (min-width: 201px) and (max-width: 400px) {
  body#home section#masthead .logo-wrapper {
    margin-top: 40px;
  }
}
@media (min-width: 40em) and (min-width: 601px) and (max-width: 999px) {
  body#home section#masthead .logo-wrapper {
    margin-top: 120px;
    padding-right: 1rem;
  }
}
@media (min-width: 40em) and (min-width: 1000px) {
  body#home section#masthead .logo-wrapper {
    margin-top: 120px;
    padding-right: 2rem;
  }
}
body#home section#masthead .text-wrapper {
  max-width: 22em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  text-align: left;
}
body#home section#masthead .text-wrapper p {
  margin-bottom: 0.5rem;
}
body#home section#masthead .text-wrapper p span {
  background: rgba(255, 255, 255, 0.4);
}
@media (min-height: 201px) and (max-height: 400px) {
  body#home section#masthead .text-wrapper {
    margin-top: 62px;
  }
}
@media (min-height: 401px) and (max-height: 600px) {
  body#home section#masthead .text-wrapper {
    margin-top: 100px;
  }
}
@media (min-height: 601px) {
  body#home section#masthead .text-wrapper {
    margin-top: 127px;
  }
}
@media (max-width: 39.9375em) {
  body#home section#masthead .text-wrapper {
    text-align: center;
    margin-top: 0;
  }
}

body#taller-marzo-22 section#masthead {
  background: url("../img/misc/foto-taller-hz.jpg");
  background-size: cover;
  background-position-y: 60%;
  min-height: 13em;
  margin-top: 46px;
}
body#taller-marzo-22 section#masthead h1.logo-abbr, body#taller-marzo-22 section#masthead h1.logo-full, body#taller-marzo-22 section#masthead .brand-descrip {
  color: #F1F0F1;
}
@media (max-width: 39.9375em) {
  body#taller-marzo-22 section#masthead .logo-wrapper {
    font-size: 12px !important;
    margin-top: 3em;
  }
}
@media (min-width: 40em) {
  body#taller-marzo-22 section#masthead .logo-wrapper {
    font-size: 16px !important;
    margin-top: 1em;
  }
}

section#masthead-sm {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 68px;
  text-align: center;
  color: #FAFAFA;
  background: #2BA191;
}
section#masthead-sm h2 {
  color: #FAFAFA;
}

section.reg-soft-section {
  padding: 110px 20px;
  color: #666666;
  background: #F1F0F1;
}

section.reg-white-section {
  padding: 110px 20px;
  color: #666666;
  background: #FAFAFA;
}

.reg-center {
  text-align: center;
}
.reg-center img {
  margin-left: 0;
  margin-right: 0;
  display: block;
}

section#about {
  padding-top: 3em;
  padding-bottom: 3em;
  background: #F1F0F1;
  color: #666666;
  line-height: 1.3em;
}
section#about a {
  font-weight: bold;
  color: #2BA191;
}
section#about .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 40em) {
  section#about .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 39.9375em) {
  section#about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
section#about img {
  width: 276px;
  height: 244px;
}
@media (max-width: 39.9375em) {
  section#about img {
    margin-bottom: 1em;
  }
}
section#about .text-wrapper {
  max-width: 20em;
  padding: 0 1em;
}
@media (min-width: 40em) {
  section#about .text-wrapper {
    text-align: left;
    margin-right: 2em;
  }
}
@media (max-width: 39.9375em) {
  section#about .text-wrapper {
    text-align: center;
    padding: 0;
  }
}
section#about .text-wrapper p {
  font-size: 1rem;
  margin-bottom: 0.5em;
}

section#contact {
  padding-top: 1rem;
  color: #666666;
  background: #FAFAFA;
  text-align: center;
}

section#social {
  margin: 0;
  padding: 10px;
  padding-bottom: 3rem;
  background: #FAFAFA;
  color: #2BA191;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: column;
}
section#social img {
  padding: 0.7em;
  width: 3rem;
  height: auto;
}

section.footer {
  font-family: Source Sans Pro, sans-serif;
  font-size: 0.833rem;
  opacity: 90%;
  margin: 0;
  padding: 10px;
  background: #F1F0F1;
  color: #666666;
}
section.footer p {
  text-align: center;
}

section.cards {
  min-height: 20rem;
  background: #F1F0F1;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
section.cards .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  section.cards .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: flex;
        -ms-flex-pack: flex;
            justify-content: flex;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section.cards .card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 992px) {
  section.cards .card-container {
    margin-left: 8vw;
    margin-right: 8vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
section.cards a.main {
  text-decoration: none;
  color: inherit;
}
section.cards a::hover {
  color: blue !important;
  font-weight: normal !important;
}
section.cards .card {
  -webkit-transition: all 1s;
  transition: all 1s;
  background: #fff;
  min-height: 8rem;
  max-width: 25rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  section.cards .card {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section.cards .card {
    min-width: 392px;
  }
}
@media (min-width: 992px) {
  section.cards .card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
section.cards .card p {
  margin-bottom: 0;
  line-height: 1.2rem;
}
section.cards .card:hover {
  -webkit-box-shadow: 5px 5px 12px rgba(34, 35, 58, 0.2);
          box-shadow: 5px 5px 12px rgba(34, 35, 58, 0.2);
}
section.cards .card h2 {
  font-size: 1.25em;
  margin: 0;
  padding: 0 1rem;
}
section.cards .card h3 {
  font-size: 1rem;
  margin-top: 0 !important;
  margin-bottom: 0.2rem;
  font-weight: bold;
  text-align: left;
}
@media (max-width: 767px) {
  section.cards .card h3 {
    text-align: center;
  }
}
section.cards .card .desc {
  font-size: 0.7rem;
}
section.cards .card .card-text {
  display: -ms-grid;
  display: grid;
}
@media (max-width: 767px) {
  section.cards .card .card-text {
    text-align: center;
    max-width: 19rem;
  }
}
@media (min-width: 768px) {
  section.cards .card .card-text {
    text-align: left;
    width: 19rem;
  }
}
section.cards .card .title-total {
  padding: 1.5em 1em 1em 1em;
}
section.cards .card .portada {
  background-position: bottom center;
  background-size: cover;
}
@media (min-width: 768px) {
  section.cards .card .portada {
    width: 12rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
@media (max-width: 767px) {
  section.cards .card .portada {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 7rem;
    width: 100%;
  }
}
section.cards .card .portada-articulos-gratuitos {
  background-image: url("../img/contenido/articulos-gratuitos-thumb2.jpg");
}
section.cards .card .portada-guias {
  background-image: url("../img/contenido/guias-thumb.png");
}
section.cards .card .portada-10-consejos-para-empezar-a-cantar {
  background-image: url("../img/contenido/10-consejos-para-empezar-a-cantar-thumb.png");
}
section.cards .card .portada-5-palabras-que-te-pueden-servir-de-guia {
  background-image: url("../img/contenido/5-palabras-que-te-pueden-servir-de-guia-thumb.jpg");
}

body.articulo .article-main {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F1F0F1;
}
@media (min-width: 1001px) and (max-width: 1200px) {
  body.articulo .article-main .row {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@media (min-width: 1201px) {
  body.articulo .article-main .row {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}
body.articulo .article-main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
body.articulo .article-main img {
  margin: 1rem auto;
}
@media (max-width: 600px) {
  body.articulo .article-main img {
    max-width: 90%;
  }
}
@media (min-width: 601px) {
  body.articulo .article-main img {
    max-width: 22rem;
  }
}
body.articulo .article-main span.more-info {
  background: #fbe6b8;
  line-height: 1.2rem;
  font-size: 0.85rem;
  padding: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
@media (min-width: 601px) {
  body.articulo .article-main span.more-info {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
body.articulo .article-main span.more-info a {
  font-weight: bold;
}

section#clases-y-talleres {
  padding-top: 3em;
  padding-bottom: 3em;
  background: #FAFAFA;
  color: #666666;
  line-height: 1.3em;
}
section#clases-y-talleres .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 787px) {
  section#clases-y-talleres .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 788px) {
  section#clases-y-talleres .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
section#clases-y-talleres img {
  width: 276px;
  height: 244px;
}
@media (max-width: 39.9375em) {
  section#clases-y-talleres img {
    margin-bottom: 1em;
  }
}
section#clases-y-talleres .text-wrapper {
  padding: 0 1em;
}
@media (min-width: 788px) {
  section#clases-y-talleres .text-wrapper {
    text-align: left;
    margin-right: 2em;
    max-width: 20em;
  }
}
@media (max-width: 787px) {
  section#clases-y-talleres .text-wrapper {
    text-align: center;
  }
}
section#clases-y-talleres .text-wrapper p {
  font-size: 1rem;
  margin-bottom: 0.5em;
}
section#clases-y-talleres .images-wrapper {
  padding: 0;
  display: absolute;
}
@media (max-width: 787px) {
  section#clases-y-talleres .images-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    height: 15rem;
  }
}
@media (min-width: 788px) {
  section#clases-y-talleres .images-wrapper {
    max-width: 13rem;
  }
}
section#clases-y-talleres .images-wrapper img {
  height: auto;
  width: 100%;
  margin-bottom: 0;
}
@media (min-width: 788px) {
  section#clases-y-talleres .images-wrapper img:nth-child(2) {
    position: relative;
    -webkit-transform: translate3d(15%, -15%, 0);
            transform: translate3d(15%, -15%, 0);
  }
}
@media (max-width: 787px) {
  section#clases-y-talleres .images-wrapper img:nth-child(2) {
    position: relative;
    -webkit-transform: translate3d(2rem, -3rem, 0);
            transform: translate3d(2rem, -3rem, 0);
  }
}

section#taller-main {
  padding: 3em 20px;
  background: #fdfdfd;
  color: #666666;
  line-height: 1.3em;
}
@media (max-width: 39.9375em) {
  section#taller-main .row {
    padding-left: 0;
    padding-right: 0;
  }
  section#taller-main .btn {
    font-size: 0.7em;
  }
}
section#taller-main .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 40em) {
  section#taller-main .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 39.9375em) {
  section#taller-main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
section#taller-main img, section#taller-main video {
  width: 190px;
  height: 340px;
}
@media (max-width: 39.9375em) {
  section#taller-main img, section#taller-main video {
    margin-bottom: 1em;
  }
}
section#taller-main .text-wrapper {
  max-width: 20em;
  padding: 0 1em;
}
@media (min-width: 40em) {
  section#taller-main .text-wrapper {
    text-align: left;
    margin-right: 2em;
  }
}
@media (max-width: 39.9375em) {
  section#taller-main .text-wrapper {
    text-align: center;
  }
}
section#taller-main .text-wrapper p {
  margin-bottom: 0.5em;
}