@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}
.body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

h1 {
  font-weight: bold;
  font-size: 1.75rem;
}
@media (max-width: 39.9375em) {
  h1 {
    font-size: 1.125rem;
  }
}

h2 {
  color: #17A2AF;
}

.row {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

section {
  scroll-margin-top: 51px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  color: #666666;
  background-color: #F1F0F0;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header.open {
  display: block;
}
.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 3.1875rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d2d3d4), to(transparent));
  background-image: -o-linear-gradient(#d2d3d4, transparent);
  background-image: linear-gradient(#d2d3d4, transparent);
}
.header nav {
  background-color: #F1F0F0;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  z-index: 10000;
}
.header__logo {
  width: 1px;
  visibility: hidden;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.header__textlogo {
  font-size: 0.000009rem;
  visibility: hidden;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  color: rgba(1, 1, 1, 0.01);
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background: #a4a7aa;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
      -ms-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header .sticky {
  background-color: #fff;
}
.header .sticky .header__logo {
  visibility: visible;
  width: 80px;
}
.header .sticky .header__textlogo {
  visibility: visible;
  font-size: 1rem;
  color: #17A2AF;
}
.header__menu {
  background-color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: absolute;
  border-radius: 5px;
  top: 4.5rem;
  right: 2rem;
  left: 2rem;
}
.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #666666;
  text-align: center;
}
.header__links a {
  font-size: 0.875rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__links a:not(:last-child) {
  margin-right: 16px;
}

section#masthead {
  background-color: #F1F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
section#masthead .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section#masthead img.logo {
  width: 9em;
}
section#masthead h1.logo-abbr {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 6.5em;
  text-transform: none;
  color: #17A2AF;
  text-align: center;
}
section#masthead h1.logo-full {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 2.2em;
  text-transform: none;
  color: #17A2AF;
  text-align: center;
}
section#masthead .brand-descrip {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 450;
  font-size: 1.6em;
  text-align: center;
}
section#masthead .arrow {
  font-size: 1.6em;
  margin-top: 1em;
  color: #ff3978;
}

section#contact {
  padding: 110px 20px;
  background: #fff;
  color: #666666;
  text-align: center;
  line-height: 1.3em;
}
section#contact .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5rem;
}
section#contact .link-wrapper svg {
  margin-right: 0.3rem;
  width: 1.5rem;
}
section#contact .link-wrapper-whatsapp p {
  padding-top: 0.125rem;
}
section#contact h2 {
  font-size: 24px;
  max-width: 29rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  line-height: 1.3em;
}
@media (max-width: 39.9375em) {
  section#contact h2 {
    font-size: 1.125rem;
  }
}

section.footer {
  font-size: 0.8rem;
  margin: 0;
  padding: 10px;
  background: #495055;
  color: white;
}
section.footer p {
  text-align: center;
}