section#masthead
    background-color: $theme-soft
    //display: flex
    //justify-content: center /* align horizontal */
    //align-items: center /* align vertical */
    //flex-direction: column
    //height: 100vh
    min-height: calc( 100vh - 50px )
    margin-top: 46px

    .wrapper
        justify-content: center
        //align-items: center
        

    .img-container
        display: flex
        flex-direction: column

    img.logo
        width: 9em
        //adapt media queries if needed
        //@media(min-width: 900px)
            //width: 37vw
        //@media(max-width: 899px)
            //width: 50vw
    .logo-wrapper
        padding: 1em
        @include breakpoint-down(small)
            margin-top: 2em
        @include breakpoint-up(medium)
            margin-top: 8em
            @media ( min-height: 201px ) and (max-height: 400px)
                //background: orange
                margin-top: 10vh
            @media ( min-height: 401px ) and (max-height: 600px)
                //background: green
                margin-top: 15vh
            @media ( min-height: 601px )
                //background: pink
                margin-top: 20vh
            
    .btn-wrapper
        //background: #bde7d6
        max-width: 25em
        display: flex
        flex-direction: column
        padding: 1em
        text-align: center
        @include breakpoint-up(medium)
            @media ( min-height: 201px ) and (max-height: 400px)
                //background: orange
                margin-top: 18vh
            @media ( min-height: 401px ) and (max-height: 600px)
                //background: green
                margin-top: 22vh
            @media ( min-height: 601px )
                //background: pink
                margin-top: 27vh

    h1.logo-abbr
        font-family: 'Barlow Semi Condensed', sans-serif
        font-size: 6.5em
        text-transform: none
        color: $theme-primary
        text-align: center
    h1.logo-full
        font-family: 'Barlow Semi Condensed', sans-serif
        font-weight: 600
        font-size: 2.2em
        text-transform: none
        color: $theme-primary
        text-align: center

    .brand-descrip
        font-family: 'Barlow Semi Condensed', sans-serif
        font-weight: 450
        font-size: 1.6em
        text-align: center
    
    .arrow
        font-size: 1.6em
        margin-top: 1em
        color: $theme-accent