// Colors
    
$theme-primary: #17A2AF
$theme-accent: #ff3978
$theme-dark: #666666
$theme-soft: #F1F0F0
$white: #fff

$theme-primary-80: #ff7974
$theme-primary-60: #ff9b97
$theme-primary-40: #ffbcb9
$theme-primary-20: #ffdedc
$theme-primary-10: #ffeeed

$theme-accent-80: #33c2d3
$theme-accent-60: #66d1de
$theme-accent-40: #99e1e9
$theme-accent-20: #ccf0f4
$theme-accent-10: #e5f7f9

$theme-dark-80: #495055
$theme-dark-60: #777c7f
$theme-dark-40: #a4a7aa
$theme-dark-20: #d2d3d4
$theme-dark-10: #e8e9e9


// Font Sizes
$font-sm: 0.875rem // 14px
$font-md: 1.125rem // 18px
$font-lg: 1.3125rem // 21px
$font-xl: 1.75rem // 28px
$font-xxl: 2.5rem // 40px