section.footer
    font-family: Source Sans Pro, sans-serif
    font-size: 0.6rem
    margin: 0
    padding: 10px
    background: darken($dark, 10)
    color: darken($soft, 10)
    
    p
        text-align: center
    